<h2>Por pais</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input placeholder="Busqueda por pais.." (onDebounce)="sugerencias($event)" (onEnter)="buscar($event)">
    </app-pais-input>
  </div>
</div>

<ul *ngIf="sugerenciasPaises.length" class="list-group">
  <li *ngFor="let pais of sugerenciasPaises" class="list-group-item" style="cursor: pointer">
    <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">{{pais.name}}</a>
  </li>
</ul>

<hr>


<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino: {{termino | uppercase}}
</div>

<div *ngIf="!hayError" class="row">
  <div class="col">
    <app-pais-tabla [country]="country"></app-pais-tabla>
  </div>
</div>
