<table *ngIf="country.length" class="table table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th> Nombre: </th>
      <th> Población </th>
      <th> Pais </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of country; index as i ">
      <td>
        {{i}}
      </td>
      <td style="padding: 0; margin:0">
        <img [src]="info.flag" width="70px" height="50px" />
      </td>
      <td>
        {{info.name}}
      </td>
      <td>
        {{info.population | number}}
      </td>
      <td>
        <a [routerLink]="['/pais', info.alpha2Code]">Ver..</a>
      </td>
    </tr>

  </tbody>
</table>
